.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;

  font-style: normal;
}

.common-style {
  color: #0D1321
}

.btn-primary {
  margin-right: 150px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px 35px 5px;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 80px;
}

.nav-title {
  font-weight: 800;
  font-size: 28px;
}

.banner {
  height: 600px;
  background-image: url("../assets/Hero-bg.png");
  /* background-position-y: 50px; */
  background-position: center;
  text-align: center;
  padding-top: 40px;
}

.banner-text img {
  max-width: 900px;
  margin-bottom: 20px;
}

.banner-head {
  text-align: center;
  color: #0D1321;
  margin-top: 20px;
  font-size: 48px;
  font-weight: bolder;

}

.banner-detail {
  font-size: 16px;
}

.btn-secondary {
  background-color: #0D1321;
  color: #FFFFFF;
  border: none;
  font-weight: bold;
  font-size: 28px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;

}

.back-color {
  background-color: rgba(13, 19, 33, 0.02);
}

.section{
  margin-bottom: 50px;
}
.first-one {
  display: flex;
  margin: 20px 20px 50px;
  padding: 20px 20px;
  justify-content: center;
}

.head2 {
  text-align: center;
  margin-top: 50px;
  padding: 20px 20px;
}

.head-detail {
  font-size: 16px;
}

.everything {
  margin-top: 50px;
  padding: 40px;
  margin-bottom: 50px;
}

.everything2 {
  margin-top: 150px;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  margin-left: 156px;
  margin-right: 156px;
  margin-top: 80px;
}

.container-detail {
  padding: 30px;
  border-radius: 5px;
}

.container-detail1 {
  background-color: rgba(255, 76, 30, 0.05);

}

.container-detail2 {
  background-color: rgba(0, 76, 232, 0.05);
}

.container-detail3 {
  background-color: rgba(255, 223, 0, 0.05);

}

.link-tag {
  font-size: 16px;
  font-weight: bold;

}

.common-detail {
  padding: 20px;
  border-radius: 20px;


}


.video-size {
  display: block;

margin-left: auto;

margin-right: auto;
border-radius: 25px;
  

}
.video-detail{
  margin-top: 80px;
}

.last-part {
  height: 400px;
  
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/handshake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin-bottom: 90px;
  margin-top: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}
.head3{
  text-align: center;
}

/* .-img{
  height: 550px;
  background-image: url("../assets/handshake.jpg");
  text-align: center;
  padding-top: 100px;
  margin-bottom: 150px;
  margin-left: 150px;
  margin-right: 150px;

} */
 .very-last{
  display: flex;
  
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 80px;
  gap:5px
 }
 .form-structure{
  padding: 20px;
  border-radius: 5px;
  text-align: center;
 }
.contact-info{
  margin-left: 950px;
}
.box-1{
  text-align: left;
  border-radius: 10px;
  padding: 2px 5px 1px;
  margin-top: 5px;
}
/* .box-2{
  margin-bottom: 10px;
} */
.btn-submit{
  /* margin-right: 150px;
  margin-top: 20px; */

  font-weight: bold;
  font-size: 30px;
  border: 2px solid black;
  padding: 22px 17px 1px;
  border-radius: 10px;
  

}
