.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;

  font-style: normal;
}

.common-style {
  color: #0D1321
}

.btn-primary {
  margin-right: 150px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px 35px 5px;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 80px;
}

.nav-title {
  font-weight: 800;
  font-size: 28px;
}
.banner{
  height: 600px;
  background-image: url("../assets/Hero-bg.png");
  /* background-position-y: 50px; */
  text-align: center;
  padding-top: 40px;
}
.banner-text img {
  max-width: 900px;
  margin-bottom: 20px;
}
.banner-head{
  text-align: center;
  color:#0D1321;
  margin-top: 20px;
  font-size: 48px;
  font-weight: bolder;

}
.banner-detail{
  font-size: 16px;
}

.btn-secondary{
  background-color:#0D1321;
  color:#FFFFFF;
  border: none;
  font-weight: bold;
  font-size: 28px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;

}
.back-color{
  background-color: rgba(13, 19, 33, 0.02);
}
.first-one{
  display:flex;
  margin: 20px 20px;
  padding: 20px;
  justify-content:center;
}
.head2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.head-detail{
  font-size: 16px;
}
.everything{
  margin-top: 50px;
  padding: 40px;
  margin-bottom: 50px;
}
.everyhting2{
  margin-top: 50px;
}
.container{
  display: flex;
  justify-content: space-around;
  gap: 25px;
  margin-left: 156px;
  margin-right: 156px;
  margin-top: 80px;
}
.container-detail{
  padding: 30px;
  border-radius: 5px;
}
.container-detail1{
  background-color: rgba(255, 76, 30, 0.05);

}
.container-detail2{
  background-color: rgba(0, 76, 232, 0.05);
}
.container-detail3{
  background-color: rgba(255, 223, 0, 0.05);
  
}
.link-tag{
  font-size: 16px;
  font-weight: bold;

}
.common-detail{
  padding: 20px;
  border-radius: 20px;


}
.vedio-detail{
  background-color: rgba(13, 19, 33, 0.2);
  background-size: contain;
}
.video-size{
  padding-left: 200px;

}